body{
    margin: 10;
    padding: 10;
    /* text-align: center; */
    font-family: monospace; 
    min-width: 400px;

}

button{
  background-color: #5f9341;
  border-style: none;
  color: white;
   width: 70px;
  padding: 5px;
  font-weight: bold;
  margin-top: 4px;
}

input{
    padding-left: 5px;
    width: 100%;
    box-sizing: border-box;
    
}

ul{
    list-style: none;
    padding-left: 5px;   
}

a{
    color: #5f9341;
    padding: 2px;
}